@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url(..'/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #e7f5ebdd; 
    --cor2: #6DEF90;
    --cor3: #57BD72;
    --cor4: #347044;
    --cor5: #55705C;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1) ;
    font-family: var(--fonte-padrao);  
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4) );    
    min-height: 150px; /* altura minima, para se adptar em qualquer tela */
    padding-top: 40px;
    text-align: center;   
}

header h1 {
    color: #fff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.309); /* sombreado */
}

header p {
    color: #fff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;  /* largura maxima, para se adptar em qualquer tela */
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.142); /* sombreado */
    
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.256); /* sombreado */
}

 nav a {
    text-decoration: none;
    color: #6DEF90;    
    font-weight: bold;
    padding: 10px; 
    columns: auto;
    border-radius: 5px;
    transition-duration: .5s; /* duracao do tempo depois que tira o mouse */
 }

 nav a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
 }

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.535);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1,8em;
}

main h2 {
    color: var(--cor3);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify; /* para alinhar o texto no começo e no fim da pagina*/
    text-indent: 30px; /* espaço no começo de cada paragrafo*/
    font-size: 1em; 
    line-height: 2em; /* altura da linha, entre uma linha e outra nao vai ter    espaço*/
}

main strong {
    color: var(--cor3);
    font-weight: bolder;
}

main a {
    text-decoration: none; /* para tirar o sublinhado do link*/
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 300px;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px; /*para o bloco do vide colar nas margins*/
    padding: 20px; /*para o video desgrudar da margem do bloco*/
    padding-bottom: 59%; /*para tirar a borda preta que vem no video*/
    position: relative; /*para o video se adaptar quando a tela fica pequena*/
}

div.video iframe {
    position: absolute; /*para o video centralizar e ficar maior na tela grande*/
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.318);
}

aside h3 {
    background-color: var(--cor3);
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: -10px -10px 0px -10px; /* para o negativo faz ele crescer para fora assim ele cola com o fundo*/

}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside; /* para a lista ficar do lado de dentro*/
    columns: 2; /* para dividir uma lista quando esta muito grande*/
}

footer {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4) );    
    text-align: center;
    text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.142);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
  
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}